<footer class="bg-white">
    <div class="container py-5 text-center">
        <div class="row py-4">
            <div class="col-lg-12">
                <img src="assets/images/logo-2.png" alt="" width="180">
                <h1 class="hit-the-floor small-hit-the-floor"><span style="color : rgb(255, 71, 87)">O</span><span
                        class="next-text">'DimsumKu</span></h1>
                <h2 class="text-center nama-jalan mt-3">Jl. Arjuno No.118, Sawahan, Kec. Sawahan Kota SBY <br>Jawa
                    Timur 60251</h2>
                <ul class="list-inline mt-4 socmed-footer">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i
                            class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i
                            class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i
                            class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2020 O'DimsumKu All rights reserved.</p>
        </div>
    </div>
</footer>
