<script src="assets/js/navbar.js"></script>
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom shadow-sm">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand ml-3">
            <img src="assets/images/logo-2.png" class="logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"
                aria-expanded="false">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto menu-inti" id="navbarmenu">
                <a href="index.html" class="nav-item nav-link" id="index">HOME</a>
                <a href="menu.html" class="nav-item nav-link" id="menu">MENU</a>
                <div class="dropdown">
                    <a href="#" class="nav-item nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">CONNECT</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item-costum" href="reservation.html" id="reservation">Reservation</a>
                        <a class="dropdown-item-costum" href="location.html" id="location">Lokasi Kami</a>
                    </div>
                </div>
                <a href="dimsum-fact-page.html" class="nav-item nav-link" id="dimsum-fact-page">DIMSUM FACTS</a>
                <a href="ourstory.html" class="nav-item nav-link" id="ourstory">OUR STORY</a>
            </div>
            <div class="ml-auto socials">
                <button type="button" class="btn btn-social-icon btn-facebook btn-rounded"><i
                        class="fa fa-facebook"></i></button>
                <button type="button" class="btn btn-social-icon btn-twitter btn-rounded"><i class="fa fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-social-icon btn-instagram btn-rounded"><i
                        class="fa fa-instagram"></i></button>
            </div>
        </div>
    </div>
</nav>

