.menu-block { margin-bottom: 30px; }
.menu-title { border-bottom: 3px solid chocolate; margin-bottom: 36px; padding-bottom: 10px; }
.menu-title-choco { border-bottom: 3px solid rgba(255, 107, 129,1.0); color : rgba(236, 204, 104,1.0);margin-bottom: 36px; padding-bottom: 10px; }

.menu-content { border-bottom: 1px solid #e0e6e3; margin-bottom: 30px; }
.dish-img { }
.dish-content { margin-top: 12px; margin-bottom: 40px; }
.dish-meta { font-size: 12px; text-transform: uppercase; display: block; width: 210px; line-height: 1.7; }
.dish-meta-white { font-size: 12px; color : rgba(255, 255, 255,1.0); text-transform: uppercase; display: block; width: 210px; line-height: 1.7; }

.dish-title { margin-bottom: 6px; font-size: 15px; text-transform: uppercase; font-weight: 500; position: relative; }
.dish-title {
    color : chocolate;
    font-size: 20px;
}
.dish-title-white {
    margin-bottom: 6px; text-transform: uppercase; font-weight: 500; position: relative;
    color : rgba(236, 204, 104,1.0);
    font-size: 20px;
}
.dish-price-white { position: absolute; right: 16px; font-size: 18px; color: rgba(123, 237, 159,1.0); font-weight: 500; font-family: 'Zilla Slab', serif; }
.dish-price { position: absolute; right: 16px; font-size: 18px; color: rgba(255, 71, 87,1.0); font-weight: 500; font-family: 'Zilla Slab', serif; }

.well-block .dish-meta { width: 100%; }
.well-block .dish-price { font-size: 18px; color: rgba(255, 71, 87,1.0);; font-weight: 500; font-family: 'Zilla Slab', serif; position: inherit; }
.well-block .dish-price-white { font-size: 18px; color: rgba(123, 237, 159,1.0); font-weight: 500; font-family: 'Zilla Slab', serif; position: inherit; }

.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    border: 1px solid red;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.bg-choco {
    background-color: rgba(255, 71, 87,1.0);
}

@media only screen
and (min-device-width : 577px)
and (max-device-width : 990px) {
    .menu-content {
        margin-bottom: 15px;
    }
    .dish-content { margin-top: 12px; margin-bottom: 20px; }
    .dish-meta { font-size: 8px; margin-bottom: 2px; width: 97%; }
    .dish-meta-white { font-size: 8px;margin-bottom: 2px;width: 97%;}

    .dish-title { font-size: 12px; }
    .dish-title-white {
        font-size: 12px;
    }
    .dish-price-white { font-size: 10px }
    .dish-price { font-size: 10px }

    .well-block .dish-meta { width: 70%; }
    .well-block .dish-price { font-size: 10px }
    .well-block .dish-price-white { font-size: 10px; }
    .menu-title { margin-bottom: 15px; font-size: 20px}


}
